<!-- TO DO: Javascript to track if token has been sent -->

<form action="/validate" method="post">
  <label for="token">Token:</label>
  <input id="token" type="text" name="token" placeholder="Insert your token" focus>
  <br>
  <input type="hidden" name="token_id" id="token_id" value=<%= "\"#{token_id}\"" %>>
  <input type="submit">
</form>