<!-- TO DO: Javascript to track if token has been sent -->

<form action="/verify" method="post">
	<input type="text" name="message">
	<input type="submit">
</form>

<input type="hidden" name="event_id" id="event_id" value=<%= "\"#{event_id}\"" %> disabled>